.atendimento {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.banner img {
  width: 100%;
  height: auto;   /* deixa a altura proporcional */
  border-radius: 8px;
  margin-bottom: 30px;
}

.conteudo ol {
  margin-left: 20px;
  padding-left: 15px;
  list-style-position: outside; /* garante que os números fiquem fora do bloco */
}
/* Aplica estilo apenas ao <ul> dentro da página de Atendimento */
.conteudo ul {
  margin-left: 1.5rem;   /* recuo à esquerda */
  padding-left: 1rem;    /* espaço interno */
  list-style-type: disc; /* bolinhas padrão */
  color: var(--text-color-primary);
}
